<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.billip.mapper.ReplyMapper">
 
 <!-- 댓글 조회 -->
 	<select id="readReply" resultType="ReplyVO">
 		select rno, content, writer, regdate
 		from tbl_reply
 		where bno = #{bno}
 	</select>
 	
 <!-- 댓글 작성 -->
 	<insert id="writeReply">
 		insert into tbl_reply(bno, rno, content, writer)
 		values (#{bno}, NEXT VALUE FOR tbl_reply_seq , #{content}, #{writer})
 	</insert>
 	
 <!-- 댓글 수정 -->
 	<update id="updateReply" parameterType="ReplyVO">
 		update tbl_reply set content = #{content}
 		where rno = #{rno}
 	</update>
 	
 <!-- 댓글 삭제 -->
 	<delete id="deleteReply" parameterType="ReplyVO">
 		delete from tbl_reply
 		where rno = #{rno}
 	</delete>
 	
 <!-- 선택된 댓글 조회 -->
 	<select id="selectReply" resultType="ReplyVO">
 		select bno, rno, content, writer, regdate
 		from tbl_reply
 		where rno = #{rno}
 	</select>
 </mapper>